.default-custom-scrollbar {
  overflow-y: scroll;
  scrollbar-width: auto; /* Firefox */
  scrollbar-color: hsl(0,0%,67%) transparent; /* Firefox */
}

.default-custom-scrollbar::-webkit-scrollbar {
  width: 12px; /* Safari and Chrome */
}

.default-custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #666873; /* Scrollbar thumb color */
  border-radius: 0.3rem;
}
