.default-custom-scrollbar {
  overflow-y: scroll;
  scrollbar-width: auto; /* Firefox */
  scrollbar-color: hsl(0, 0%, 67%) transparent; /* Firefox */
}

.default-custom-scrollbar::-webkit-scrollbar {
  width: 24px; /* Safari and Chrome */
}

.default-custom-scrollbar::-webkit-track {
  border-radius: 10px;
}

.default-custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #666873; /* Scrollbar thumb color */
  border-radius: 0.3rem;
}
