.default-custom-scrollbar {
  overflow-y: scroll;
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #666873 #f5f5f5; /* Firefox */
}

.default-custom-scrollbar::-webkit-scrollbar {
  width: 12px; /* Safari and Chrome */
}

.default-custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #666873; /* Scrollbar thumb color */
  border-radius: 0.3rem;
}
